.details-container {
  flex-direction: column;
  flex: 2;
  max-width: 380px;
}

.main-content {
  max-height: 600px;
  margin: 2rem 2rem;
}

.available-text {
  margin: 10px 1rem;
}

.info-row > div {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.image-container {
  max-width: 60%;
  flex: 3;
  display: flex;
  justify-content: flex-end;
}

.image-container > img {
  max-width: 100%;
  height: auto;
}

.characters-name {
  justify-content: space-between;
}

.characters-name > img {
  display: flex;
  align-self: center;
  flex: 1;
  width: auto;
  max-height: 30%;
  height: auto;
}

.characters-name > h1 {
  display: flex;
  align-self: center;
  flex: 3;
}

.rating {
  align-items: center;
}

.rating > p {
  margin-right: 1rem;
}
