.caracter-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 2rem 4rem;
  justify-content: space-between;
  gap: 20px;
}

.caracter-list li {
  min-width: 200px;
  list-style: none;
}
