.caracter-list {
  margin: 2rem 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.caracter-list li {
  max-width: 250px;
  list-style: none;
}
