.search {
  margin: 1rem auto;
  width: 575px;
  border-radius: 30px;
  border: 1px solid #dcdcdc;
  background-image: url("../../../public/assets/search_bar_vermelho.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.search:hover {
  box-shadow: 1px 1px 8px 1px #dcdcdc;
}
.search:focus-within {
  box-shadow: 1px 1px 8px 1px #dcdcdc;
  outline: none;
}

.search-icon {
  height: 20px;
  position: relative;
  top: 5px;
  left: 20px;
}

.search-white {
  margin: 1rem auto;
  width: 575px;
  border-radius: 30px;
  border: 1px solid #dcdcdc;
  background-image: url("../../../public/assets/search_bar_branco.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.search-white:hover {
  box-shadow: 1px 1px 8px 1px #dcdcdc;
}
.search-white:focus-within {
  box-shadow: 1px 1px 8px 1px #dcdcdc;
  outline: none;
}

.search > #searchTerm {
  color: red;
  background-color: transparent;
  padding-left: 32px;
  height: 45px;
  border: none;
  width: 480px;
  font-size: 16px;
  outline: none;
}

.search > #searchTerm::placeholder {
  color: #fc7c7c;
  opacity: 1;
}

.search-white > #searchTerm {
  color: black;
  background-color: transparent;
  padding-left: 32px;
  height: 45px;
  border: none;
  width: 480px;
  font-size: 16px;
  outline: none;
}

.search-white > #searchTerm::placeholder {
  color: #939393;
  opacity: 1;
}
