body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
#app,
#app > div {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.grey {
  padding: 0 1.4rem;
  color: #939393;
}

.bold-text {
  font-weight: 600;
}

.red {
  padding: 0 1.4rem;
  color: red;
}

h1 {
  color: #414141;
  margin: 0px;
}

.container {
  margin: 4rem;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
}

.d-flex {
  display: flex;
}

.pointer-click {
  cursor: pointer;
}
