body {
  display: flow-root;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* color: #939393; */

.red-text {
  color: red;
}

h1 {
  color: #414141;
  margin: 0px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pointer-click {
  cursor: pointer;
}
